.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw; 
}

.auth_block {
  background: #40ba21;
  height: auto; 
  width: 30rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
